@model   YourMail.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li class="form">
                @Html.LabelFor(m => m.OldPassword, new { @class = "labelform" })
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li class="form">
                @Html.LabelFor(m => m.NewPassword, new { @class = "labelform" })
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li class="form">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "labelform" })
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
